.navbar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  z-index: 1;
}

.navbar ul {
  display: flex;
  gap: 18px;
}

.navbar ul li {
  list-style-type: none;
}

ul li a{
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  color: #eee;
  letter-spacing: 4px;
}

ul li a:hover {
  color: salmon;
}


.logo {
  color: #eee;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 5px;
  margin: 16px 0;
  text-align: center;
  text-transform: uppercase;
}

.active-icon, .close-icon {
  position: absolute;
  top: 2%;
  left: 9999999px;
}


@media screen and (max-width:1000px) {
  .navbar {
    position: relative;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0;
    position: absolute;
    top: 80%;
    left: 77%;
    align-items: center;
    justify-items: center;
    visibility: hidden;
    opacity: 0;
  }

  .navbar ul li {
    background-color: #eee;
    border: 1px solid;
    list-style-type: none;
    width: 100%;
    padding: 12px;
    text-align: center;
    cursor: pointer;
  }

  .navbar ul a {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
  }

  .active-icon {
    visibility: visible;
    opacity: 1;
    left: 95%;
    top: 35%;
    cursor: pointer;
  }

  .close-icon {
    visibility: visible;
    opacity: 1;
    top: 35%;
    left: 95%;
    cursor: pointer;
  }

  #active-menu {
    visibility: visible;
    opacity: 1;
  }
  
  #hidden-menu {
    visibility: hidden;
    opacity: 0;
  } 
}

@media screen and (max-width:790px) {
  .navbar ul {
    top: 80%;
    left: 72%;
  }

  .active-icon, .close-icon {
    left: 94%;
  }
}


@media screen and (max-width:700px) {
  .navbar ul {
    top: 80%;
    left: 70%;
  }

  .active-icon, .close-icon {
    left: 94%;
  }
}

@media screen and (max-width:620px) {
  .navbar ul {
    top: 80%;
    left: 67%;
  }

  .active-icon, .close-icon {
    left: 93%;
  }
}


@media screen and (max-width:550px) {
  .navbar ul {
    top: 80%;
    left: 62%;
  }

  .active-icon, .close-icon {
    left: 93%;
  }
}

@media screen and (max-width:480px) {
  .navbar ul {
    top: 80%;
    left: 58%;
  }

  .active-icon, .close-icon {
    left: 91%;
  }
}

@media screen and (max-width:430px) {
  .navbar ul {
    top: 80%;
    left: 55%;
  }

  .active-icon, .close-icon {
    left: 90%;
  }
}