.main-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 24px;
}



.playlist-track-card {
  width: 345px;
  height: 90px;
  display: flex;
  align-items: center;
  gap: 24px;
  background-color: #000;
  color: #eee;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 1px 1px 3px #000;
}


.track-card-img {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100%;
}


.track-info-box {
  width: 65%;
}

.audio-control-bar {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translateX(-20%);
}

.audio-player {
  width: 500px;
}