.container {
 width: 1000px;
 height: 500px;
 display: flex;
 gap: 24px;
}

.track-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.track-img {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
}