.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  border: 1px solid #000;
  padding: 36px;
}

.card {
  width: 300px;
  height: 380px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}

.track-card:hover {
  cursor: pointer;
}

.track-img {
  width: 300px;
  height: 280px;
  background-size: cover;
  background-position: center;
  letter-spacing: 5px;
}

.lower-box {
  padding: 12px;
  background-color: #080707;
}

.lower-box h5, .lower-box span {
  text-decoration: none;
  color: #eee;
}


.artist-name {
  font-size: 12px;
}