main {
  display: flex;
  width: 90%;
  height: 80%;
  margin: 120px auto;
}

.header-section {
  padding-right: 20px;
  padding-left: 12px;
  height: 500px;
}


.header-img {
  height: 500px;
}